head
  script(src="js-yaml.min.js")
  script(src="zehn.js")
  link(rel="stylesheet" href="main.css")
body
  //- .background
  //-   .vertical
  //-   .horizontal
  .status
    .location
    .time
  .description
  .chum-dex
    .chum-bar
      .icon.quint Quint
      .icon.fremp Fremp
      .icon.dee Dee
    .body
      .left
        .chums
          .quint
          .fremp.on
          .dee
        .respond
      .side
  .zehn
    .backdrop
    .logo
    .awaken
      .comment
      .link
    .white
    .go PLAY
  .halftone
  .scanlines

  //- pre.text Hi Pluff, Are we still on for today? Let's meet the Vesuvius Bistro at 7pm, since it's the only one that I'm sure won't trigger my seafood allergy. -Fremp

  //- pre.text Pluff! We need to talk about that new neighbor of yours. It has to be in person. -Dee

  //- pre.text You're not the only agent she's running, there's someone else. You have until tomorrow to fix everything!

  //- pre.text What you're going to need to do is break into that office building down the street and steal that top-secret device they have, Pluff. You're going to need to wait until midnight, though.


  //- .button.start Start
  //- .button.stop Stop
  .map

  script.
    init();
