head
  script(src="globals.js")
  link(rel="stylesheet" href="/main.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js")
body
  .status
    .location
    .time
  .room-container
    .description
    .interactables
      .people
      .things

  .chum-dex
    .chum-bar
      .icon.quint Quint
      .icon.fremp Fremp
      .icon.bee Bee
    .body
      .left
        .chums
          .quint
          .fremp.on
          .bee
        .respond
      .side
  .zehn
    .backdrop
    .logo
    .awaken
      .comment
      .link
    .white
    .go PLAY
  .halftone
  .scanlines
  .map
  script(src="zehn.js")
